<strong>Olá, {{ provider }}</strong>
<p>
  Você tem uma nova encomenda, <br />
  <strong>{{ product }}</strong> já está disponível para retirada. <br /> <br />
  <small>Lembre-se de que você tem até as 18h00 para realizar a retirada do seu produto.</small> <br />
  <strong>Data:</strong> {{ date }} <br />
</p>
